{% extends 'base.html' %}
{% block content %}
    <table class="table m-2">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Product</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price-with discount (Rials)</th>


            </tr>
        </thead>
        <tbody>

            {% for item in items %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{item.product}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.price}}</td>

                </tr>
            {% endfor %}

             <tr>
                <th scope="row">Discount Value </th>
                 {% if order.discount_ticket %}
                    <td>
                        {{order.discount_ticket.value}}
                        {% if order.discount_ticket.type == "PER" %}
                            %
                        {% else %}
                            Rials
                        {% endif %}
                    </td>
                 {% else %}
                    <td>0</td>
                 {% endif %}

            </tr>
             <tr>
                <th scope="row">Tax Rate (%) </th>
                <td>{{order.tax_rate}}</td>
            </tr>
             <tr>
                <th scope="row">Total (+tax) </th>
                <td>{{order.total_price}} Rials</td>

            </tr>
            <tr>
                <th scope="row">Delivery Address </th>
                <td>{{order.address}}</td>

            </tr>
        </tbody>
    </table>

{% endblock content %}


