{% if item_num > 0 %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Product</th>
            <th scope="col">Quantity</th>
            <th scope="col">Unit Price (Rials)</th>
            <th scope="col"> Price-with discount (Rials)</th>
            <th scope="col">Total</th>
            <th scope="col">Remove</th>
        </tr>
        </thead>
        <tbody>
            {% for item in cart %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{item.name}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.unit_price}}</td>
                    <td>{{item.price_after_discount}}</td>
                    <td>{{item.total_price}}</td>
                    <td><a href="{% url 'orders:remove_item' item.id %}"  class="bi bi-x-circle">Remove</a></td>
                </tr>
            {% endfor %}
            <tr>
                <th scope="row">Total</th>
                <td>{{cart.total_price}} Rials</td>
            </tr>
        </tbody>
    </table>
{% else %}
    <h3> Empty!</h3>
{% endif %}
