{% load static %}
<ul class="nav flex-column">
    <li class="nav-item">
        <div class="d-flex flex-column align-items-center text-center p-2 py-2">
                {% if request.user.image %}
                    <img class="rounded-circle mt-5" width="150px" src="{{request.user.image.url}}">
                {% else %}
                    <img class="rounded-circle mt-5" width="150px" src="{% static 'accounts/img/no_profile_image.png' %}">
                {% endif %}
                <span class="font-weight-bold">{{user.f_name}} {{user.l_name}}</span>
        </div>
    </li>

</ul>
<ul class="nav flex-column">
    <div class="d-flex flex-column align-items-center text-center p-2 py-2">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Edit Profile</a>
        </li>
    </div>

    <div class="d-flex flex-column align-items-center text-center p-2 py-2">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Change Password</a>
        </li>
    </div>

    <div class="d-flex flex-column align-items-center text-centerp-2 py-2">
        <li class="nav-item">
            <a class="nav-link" href="#">My addresses</a>
        </li>
    </div>

   <div class="d-flex flex-column align-items-center text-center p-2 py-2">
        <li class="nav-item">
            <a class="nav-link" href="#">My orders</a>
        </li>
    </div>
</ul>

