<nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#!">Online Shop</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'products:home' %}">Home</a></li>
                         {% if request.user.is_authenticated %}
                            <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">{{request.user.f_name}}'s profile</a></li>
                            <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'accounts:logout' %}">Log out</a></li>
                        {% else %}
                            <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'accounts:login' %}">Login</a></li>
                            <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'accounts:register' %}">Register</a></li>
                        {% endif %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Categories</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% for item in main_categories %}
                                 <li><a class="dropdown-item" href="{% url 'products:subcategories' item.id %}">{{item.name}}</a></li>
<!--                                    {% for sub in item.subs.all %}-->
<!--                                         <li><a class="dropdown-item" href="#">{{sub.name}}</a></li>-->
<!--                                    {% endfor %}-->
                                {% endfor %}
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="#!">Popular Items</a></li>
                                <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex" action="#">
                            <button class="btn btn-outline-dark" type="submit" >
                                <i class="bi bi-cart4"></i>
                                <span class="badge bg-dark text-white ms-1 rounded-pill">{{item_num}}</span>
                            </button>
                    </form>
                </div>
            </div>
        </nav>